<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegForm</title>
</head>
<body>
    <form method="post">
        <br />
        Name : <input type="text" name="name" />
        Email : <input type="text" name="email" />
        Phone : <input type="text" name="phone" />
        <br />
        <br />
        <label for="choice">Will you attend ?</label>
        <select id="choice">
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="maybe">Maybe</option>
        </select>
        <br />
        <input type="submit" value="Submit RSVP" />
    </form>
</body>
</html>
