






<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
<h2>Thank you, @ViewBag.Name</h2>
<p>It's great that you're coming!</p>
</body>
</html>
